@import "../../global.scss";

.product{
    width: 350px;
    height: 370px;
    margin: 20px 10px;
    border: 2px solid rgba(199, 185, 185, 0.67);
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

    @include mobile{
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 210px;
    }

    img{
        width: 100%;
    }
}